@import '../../config.scss';

.SearchResults {
  border: 1px solid $color-border-soft;
  min-width: 200px;
  background-color: $color-window-background;

  position: relative;
}

.SearchResults__container {
  position: absolute;
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

.SearchResults__list {
  list-style-type: none;
}
