@import '../../config.scss';

.SearchResults {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-border-soft;
  min-width: 200px;
  background-color: $color-window-background;

}

.SearchResults__list {
  list-style-type: none;
}