
// 12 dálka útlit

@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans');

// Hámarksbreidd
$max-width: 1400px;

// Bil
$gutter: 30px;

// Leturgerðir
$font-main: 'Open Sans', helvetica, arial, sans-serif;
$font-heading: 'Noto Serif', georgia, serif;

$font-size: 12px;


$color-border-soft: rgb(202, 202, 202);

$color-font: rgb(27, 27, 27); // letur / bakgrunnur
$color-font-placeholder: #818181;


$color-button-background: rgb(241, 241, 241);
$color-button-hover-background: rgb(226, 226, 226);
$color-button-active-background: rgb(207, 207, 207);


// Background color
$color-window-background: rgb(253, 253, 253);
$color-background: rgb(248, 248, 248);


$color-gray: #ccc; // grár
$color-invalid: #4e1d04; // rauður, ógild gildi



$transition: 250ms ease-in-out; // hröðun


@mixin row() {
  display: flex;

  margin-left: -($gutter / 2);
  margin-right: -($gutter / 2);
}

@mixin columns($col: 1) {
  // margföldum með "1%" til að breyta gildi í prósentu gildi
  width: ($col / 12 * 100) * 1%;

  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
}

@mixin offset-left($cols: 0) {
  margin-left: ($cols/12 * 100) * 1%;
}

